{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}

<div class="row">

    <div class="col-5"><br><div class="container" style="border-style: solid;border-width: 1px;border-radius: 10px;width: 200px;height: 70px"><center>Job 1</center></div><br>
        <div class="container" style="border-style: solid;border-width: 1px;border-radius: 10px;width: 200px;height: 70px"><center>Job 2</center><br>
        </div><br>
        <div class="container" style="border-style: solid;border-width: 1px;border-radius: 10px;width: 200px;height: 70px"><center>Job 3</center></div><br>
        <div class="container" style="border-style: solid;border-width: 1px;border-radius: 10px;width: 200px;height: 70px"><center>Job 4</center></div><br>
        <div class="container" style="border-style: solid;border-width: 1px;border-radius: 10px;width: 200px;height: 70px"><center>Job 5</center></div><br>
        <div class="container" style="border-style: solid;border-width: 1px;border-radius: 10px;width: 200px;height: 70px"><center>Job 6</center></div><br>
    </div>
    <div class="scroll" style="border-style: solid;border-width: 2px;width: 20px;border-top-style: none;border-bottom-style: none"></div>
    <div class="col-6"><br>
        <div class="container" style="border-style: solid;border-width: 1px;border-radius: 10px;width: 450px;height: 90px"><center>Event 1</center></div><br>
        <div class="container" style="border-style: solid;border-width: 1px;border-radius: 10px;width: 450px;height: 90px"><center>Event 1</center></div><br>
        <div class="container" style="border-style: solid;border-width: 1px;border-radius: 10px;width: 450px;height: 90px"><center>Event 1</center></div><br>
        <div class="container" style="border-style: solid;border-width: 1px;border-radius: 10px;width: 450px;height: 90px"><center>Event 1</center></div><br>
        <div class="container" style="border-style: solid;border-width: 1px;border-radius: 10px;width: 450px;height: 90px"><center>Event 1</center></div><br>
    </div>
    <div class="col-1"></div>
</div>
    <br>
<style>

    .col-5 {
        border: none;

        font: 24px/36px sans-serif;
        width: 200px;
        height: 460px;
        overflow: scroll
    }
    .col-6{
        font: 24px/36px sans-serif;
        width: 200px;
        height: 460px;
        overflow: scroll;
        direction: rtl;
    }


</style>
{% endblock %}
