{% extends 'base.html.twig' %}

{% block title %}Hello AccountEmployerController!{% endblock %}

{% block body %}
    <style>
        #form {
            position: relative;
            width: 500px;
            margin: 50px auto 100px auto;
        }

        div {
            text-align: center;
        }

        p {
            font-family: 'Lato', sans-serif;
            font-size: 0.875em;
            width: 470px;
            height: 50px;
            padding: 0px 15px 0px 15px;
        }

        label {
            margin-bottom: unset;
        !important;
            padding: 0px 0px 0px 10px;

        }

        input {
            font-family: 'Lato', sans-serif;
            font-size: 0.875em;
            width: 470px;
            height: 50px;
            padding: 0px 15px 0px 15px;


            background: transparent;
            outline: none;
            color: #765412;

            border: solid 1px #b3aca7;
            border-bottom: none;

            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            margin-left: revert;
        }

        input:hover {
            background: #EEEDEE;
            color: #FFFFFF;
        }

        textarea {
            width: 470px;
            max-width: 470px;
            height: 110px;
            max-height: 110px;
            padding: 15px;
            resize: none;

            background: transparent;
            outline: none;

            color: #726659;
            font-family: 'Lato', sans-serif;
            font-size: 0.875em;

            border: solid 1px #b3aca7;

            transition: all 0.3s ease-in-out;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
        }

        textarea:hover {
            background: #EEEDEE;
        }

        .butAjouter {
            background-color: #6DB106;
            color: white;
            padding: 5px 10px 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 8px;
            transition-duration: 0.2s;
            border: 2px solid #2C3220;
            font-weight: 400;
            font-family: Frutiger, Arial, Helvetica, sans-serif;
            width: 100%;
        }

        .butAjouter:hover {
            background-color: white;
            color: #6DB106;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
            cursor: pointer;
        }

        .butAjouter:active {
            background-color: #E1EEBE;
            box-shadow: 0 2px #666;
            transform: translateY(2px);

        }

        .radioBut {
            width: auto;
            height: auto;
        }

        .genre {
            font-family: 'Lato', sans-serif;
            font-size: 0.875em;
            width: 470px;
            height: 50px;
            padding: 0px 15px 0px 15px;
            display: inline-flex;
            border: solid 1px #b3aca7;
            border-bottom: none;
            align-items: center;
        }
        .Nom {
            border-radius: 10px 10px 0 0 ;
        }
        .Entreprise {
          border-radius: 0 0 10px 10px;
        }

        #entreprise {
            border: solid 1px #b3aca7;
        }
    </style>

    <div>
        <br>
        <h1>Création de compte Employeur</h1>
        <form id="form" method="post">
            <input class= "Nom"; required="required" id="nom" type="text" name="nom" placeholder="Nom">
            <input required="required" id="prenom" type="text" name="prenom" placeholder="Prénom">
            <div class="genre">
                <span>Genre :</span>

                <input class="radioBut" id="H" type="radio" name="genre" value="H" checked>
                <label for="H">Homme</label>

                <input class="radioBut" id="F" type="radio" name="genre" value="F">
                <label for="F">Femme</label>

            </div>

            <input pattern="/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required="required" id="mail" type="text" name="mail" placeholder="Adresse mail">
            <input class = "Entreprise" required="required" id="entreprise" type="text" name="entreprise" placeholder="Nom entreprise">
            <br></br>
            <input id="submit" type="submit" class="butAjouter" value="Ajouter">
        </form>
    </div>

{% endblock %}
